<p>
  Users are permitted to use and modify my public REST APIs to facilitate their
  new and novel creations.
</p>
<p>
  Copyright Disclaimer under section 107 of the Copyright Act 1976, allowance is
  made for “fair use” for purposes such as criticism, comment, news reporting,
  teaching, scholarship, education and research. Fair use is a use permitted by
  copyright statute that might otherwise be infringing.
</p>
<p>
  Both Despicable Me and Minions are protected trade marks and copyright of
  &copy; Universal Studios.
</p>