<h1 class="display-5 fw-bold text-center">Minion Meme Generator API</h1>

<h4>Getting Started</h4>
<ul>
  <li>No email required.</li>
  <li>No API key required.</li>
  <li>Currently 5 backgrounds, 1 body, 5 eyes, 5 mouths.</li>
</ul>