<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Primary Meta Tags -->
<title>Minion Generator API</title>
<meta name="title" content="Minion Generator API">
<meta name="description" content="With this API you will be able to randomly generate a set of minion memes!">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://minion-generator.herokuapp.com/">
<meta property="og:title" content="Minion Generator API">
<meta property="og:description" content="With this API you will be able to randomly generate a set of minion memes!">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://minion-generator.herokuapp.com/">
<meta property="twitter:title" content="Minion Generator API">
<meta property="twitter:description" content="With this API you will be able to randomly generate a set of minion memes!">
<meta property="twitter:image" content="">