<h2>Minion</h2>
<h6>Randomly Generate 1 Minion Meme</h6>
<p>This endpoint retrieves just one minion meme.</p>
<h6>HTTP Request</h6>
<code>GET https://minion-generator.herokuapp.com/minion</code>
<h6>Query Parameters</h6>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Parameter</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">id</th>
      <td>Used to create a folder for your personal memes. For example <code>id='asarelcastellanos'</code></td>
    </tr>
  </tbody>
</table>
<h6>Sample Output</h6>
<pre>
{
    "name": "Jack",
    "description": "A drawing of Jack",
    "image_location": "/Jack/Jack.png"
}
</pre>